/*
 * Defines the look and feel of the contents pane.
 */

#contents
    padding: 20px

    .episode
        margin-top: 40px
        margin-bottom: 15px
        padding-bottom: 15px
        background-color: rgb(255,250,240)
        position: relative

        .audio-player
            padding: 20px 20px 0

            audio
                width: 100%

        .date
            top: -30px
            left: -20px
            display: block
            position: absolute
            background-color: #222
            color: #fff
            text-align: center
            font-size: 70%
            border-radius: 50%
            padding: 10px

        .excerpt
            padding: 15px 40px
            font-size: 90%
            line-height: 170%

        h2
            background-color: #fff
            line-height: 250%
            margin: 0
            font-size: 120%
            letter-spacing: 0.2em
            border-bottom: 1px solid #eee
            a
                display: block
                padding: 0 10px 0 70px
                color: #222
                transition-duration: 0.2s

            a:hover
                background: rgba(255, 102, 178, 0.85)
                color: #fff
                transition-duration: 0.2s 

        .show-notes
            padding: 0 30px
            line-height: 170%
            font-size: 90%

            a
                color: #222
            a:hover
                text-decoration: underline

            h3
                letter-spacing: 0.2em
                color: #333
                border-bottom: solid 1px #ccc

