/*
 * Defines the look and feel of the footer pane.
 */

#footer-site
    background-color: #000
    color: #fff
    font-size: 80%
    padding: 20px
    
    #footer-site-inner
        max-width: 960px
        margin: auto
        color: #bbb
        letter-spacing: 0.1em
        font-size: 90%

        h2, a
            color: #fff

        a:hover
            text-decoration: underline

        ul
            list-style: none
            padding-left: 0

    .footer-site-box
        box-sizing: border-box
        width: 33%
        float: left
        padding: 20px

    .copyright
        clear: both
        text-align: center
        margin: 20px

