div#contents-article
    max-width: $main-column-width
    padding: 0 $main-column-padding-horizontal
    margin: 0 auto
    h2
        text-transform: uppercase
div#article-filter
    padding-left: 2em
    margin-bottom: 2.5em
    font-style: italic
    font-size: 110%
    letter-spacing: 0.1em
    text-transform: uppercase
div#article-list
    ul
        list-style-type: none
    display: inline-block
    max-width: 68%
    li.article-entry
        margin: 0 0 6em 0
    article 
        div.article-sup-top
            padding-left: 2em
            border-left: solid 4px $cl-theme2
            h2
                margin-bottom: 0.2em
        div.article-content
            margin: 2em 0
            line-height: 1.7em
            iframe
                max-width: 80%
        div.article-sup-bottom
            div.social-button
                margin: 0.2em 0
    div.article-footer
        margin-top: 2em
        text-align: center
div#article-navigation
    display: inline-block
    max-width: 28%
    float: right
    margin-right: 2em
    h2
        font-size: 1.2em
        text-transform: uppercase
        padding-left: 1em
        border-left: solid 3px $cl-theme1-soft
    h3
        margin: 1.5em 0 0.2em
        color: $cl-soft-text
    ul
        list-style-type: none
        padding-left: 1.5em
        li
            margin: 1em 0
    div.article-navigation-section
        margin-bottom: 3em
#page-control-panel
    margin: 1em 0
    text-align: center
    span#current-page
        @include control-button($cl-theme1-soft)
    span.page-control
        margin: 0 0.1em
        a
            @include control-button($cl-theme2-soft)
            transition-duration: 0.2s
        a:hover
            text-decoration: none
            background: $cl-theme2
            transition-duration: 0.2s
    span.single-page-control
        max-width: 45%
        i.fa
            margin: 0 0.5em
    span#single-page-control-prev
        float: left
    span#single-page-control-next
        float: right

