@charset "UTF-8"
$mobile-max: 960px
// dimension
$main-column-width: 1280px
$main-column-padding-horizontal: 5%
$stamp-size: 7em

// shape
$round-radius: 5px
$button-radius: 5px

// color
$cl-main-text: #444
$cl-soft-text: #888
$cl-main-text-on-dark: #eee
$cl-soft-text-on-dark: #ddd
$facebook-blue: #3b5998
$facebook-blue-cloudy: rgba(#3b5998, 0.6)
$twitter-blue: #4099ff
$twitter-blue-cloudy: rgba(#4099ff, 0.6)
$instagram-blue: #517fa4
$instagram-blue-cloudy: rgba($instagram-blue, 0.6)
$apple-silver: #c0c0c0
$apple-silver-cloudy: rgba(#c0c0c0, 0.6)
$rss-orange: #ff8210
$rss-orange-cloudy: rgba(#ff8210, 0.6)

$cl-inactive: rgba(220, 220, 220, 0)
$cl-theme1: rgba(255, 51, 51, 0.85)
$cl-theme1-soft: rgba(255, 91, 91, 0.85)
$cl-theme1-softer: rgba(255, 122, 122, 0.85)
$cl-theme1-cloudy: rgba(255, 51, 51, 0.2)
$cl-theme2: rgba(255, 153, 51, 0.85)
$cl-theme2-soft: rgba(255, 183, 101, 0.85)
$dora-blue: rgba(41, 138, 191, 0.85)
$dora-blue-soft: rgba(71, 158, 191, 0.85)

// font
$font-kaku: "Lucida Grande", "segoe UI", "ヒラギノ角ゴ ProN W3", "Hiragino Kaku Gothic ProN", Meiryo, Verdana, Arial, sans-serif
$font-maru: "Lucida Grande", "segoe UI", "ヒラギノ丸ゴ ProN W4", "Hiragino Maru Gothic ProN", Meiryo, Arial, sans-serif
