@charset "UTF-8"
@import constants
@import mixincommons
$carousel-height: 360px
$carousel-radius: 5px
$carousel-fadeout: 50%
$cl-carousel-dark: rgba(#000, 1)
$cl-carousel-light: rgba(#000, 0)
$min-row-height: 320px

.regular-row
    padding: 0 $main-column-padding-horizontal
.row
    max-width: $main-column-width
    margin: 1em auto 2em
    overflow: hidden
    .row-inner-column
        min-height: 1em
        display: inline-block
        margin: 0 1em
        .title-info
            font-size: 0.8em
        h2
            text-transform: uppercase
            padding-left: 1em
            margin-bottom: 3em
            border-left: solid 4px $cl-theme1
            font-size: 1.2em
        .see-all
            text-align: right
            .see-all-button
                margin-right: 2em
                margin-top: 1em
                a
                    @include control-button($cl-theme1-soft)
                    transition-duration: 0.2s
                a:hover
                    text-decoration: none
                    background: $cl-theme1
                    transition-duration: 0.2s
    ul
        list-style-type: none
    ul.episode-list
        padding-left: 0
        margin-top: 3em
        @include episode-li($cl-theme2-soft, $cl-theme2)
        li
            width: 49%
        li.featured
            display: block
            width: 100%
            margin: 2em auto
            div.episode-icon
                font-size: 135%
                margin-right: 1.5em
                a
                    background-color: $cl-theme1-soft
                a:hover
                    background-color: $cl-theme1
            div.episode-summary
                font-size: 110%
                width: 73%
                div.episode-audio-player
                    margin: 2em auto
    ul.article-list
        padding-left: 1em
        li
            margin-bottom: 2em
            h3
                margin: 0.5em auto
            p
                margin-top: 0
#episode-row
    position: relative
    #episode-column
        width: 76%
        margin-left: 24%
    #twitter-timeline
        width: 15%
        float: left
        margin: 0 0 0 1%
        position: absolute
        #twitter-timeline-inner
            max-width: 100%
            margin: auto
#blog-row
    min-height: $min-row-height
    .row-inner-column
        width: 47%
    .row-inner-column-right
        float: right
#main-area-home
    margin: 0 auto
#promotion
    padding: 0 0 1em
    margin-bottom: 2em
    #promotion-inner
        max-width: $main-column-width
        margin: 0 auto
        border-radius: $carousel-radius
        div.carousel
            box-shadow: 0 0 2px rgba(#000, 0.4)
            height: $carousel-height
            max-width: 100%
            margin: 0 auto
            border-radius: $carousel-radius
            overflow: hidden
            div.carousel-inner
                height: 100%
                width: 100%
                div.item
                    @include background-imaged-div(100%, 100%)
                    div.carousel-screen
                        height: 100%
                        width: 100%
                    div.carousel-screen-BL
                        background: linear-gradient(45deg, $cl-carousel-dark, $cl-carousel-light $carousel-fadeout)
                    div.carousel-screen-BR
                        background: linear-gradient(-45deg, $cl-carousel-dark, $cl-carousel-light $carousel-fadeout)
                    div.carousel-caption
                        font-family: $font-maru
                        font-size: 115%
                        max-width: 45%
                        color: $cl-soft-text-on-dark
                        h1,h2,h3
                            color: $cl-main-text-on-dark
                        a
                            color: inherit
                            text-decoration: underline
                        a:hover
                            opacity: 0.8
                        blockquote
                            margin: 0.5em
                            padding: 0.5em
                            font-style: italic
                    div.carousel-caption-BL, div.carousel-caption-TL
                        left: 3%
                        text-align: left
                    div.carousel-caption-BR, div.carousel-caption-TR
                        left: auto
                        right: 3%
                        text-align: right
