@charset "UTF-8"
@import constants
@import mixincommons
$carousel-height: 360px
$carousel-radius: 5px
$carousel-fadeout: 50%
$button-radius: 5px
$cl-carousel-dark: rgba(#000, 1)
$cl-carousel-light: rgba(#000, 0)
$min-row-height: 320px

.regular-row
    padding: 0 $main-column-padding-horizontal
.row
    max-width: $main-column-width
    margin: 1em auto 2em
    overflow: hidden
    .row-inner-column
        min-height: 1em
        display: inline-block
        margin: 0 1em
        .title-info
            font-size: 0.8em
        h2
            text-transform: uppercase
            padding-left: 1em
            margin-bottom: 3em
            border-left: solid 4px $cl-theme1
            font-size: 1.2em
        .see-all
            text-align: right
            .see-all-button
                margin-right: 2em
                margin-top: 1em
                a
                    @include control-button($cl-theme1-soft)
                    transition-duration: 0.2s
                a:hover
                    text-decoration: none
                    background: $cl-theme1
                    transition-duration: 0.2s
    ul
        list-style-type: none
    ul.episode-list
        padding-left: 0
        margin-top: 3em
        @include episode-li($cl-theme2-soft, $cl-theme2)
    ul.article-list
        padding-left: 1em
        li
            margin-bottom: 2em
            h3
                margin-top: 0.3em
                margin-bottom: 0.5em
            p
                margin-top: 0
#episode-row
    .row-inner-column-left
        width: 75%
    #twitter-timeline
        width: 20%
        float: right
        margin-right: 1em
        #twitter-timeline-inner
            max-width: 100%
            margin: auto
#blog-row
    min-height: $min-row-height
    .row-inner-column
        width: 47%
    .row-inner-column-right
        float: right
#main-area-home
    margin: 0 auto
#promotion
    padding: 0 0 1em
    margin-bottom: 2em
    #promotion-inner
        max-width: $main-column-width
        margin: 0 auto
        border-radius: $carousel-radius
        div.carousel
            box-shadow: 0 0 2px rgba(#000, 0.4)
            height: $carousel-height
            max-width: 100%
            margin: 0 auto
            border-radius: $carousel-radius
            overflow: hidden
            div.carousel-inner
                height: 100%
                width: 100%
                div.item
                    height: 100%
                    width: 100%
                    background-size: cover
                    background-position: center center
                    div.carousel-screen
                        height: 100%
                        width: 100%
                    div.carousel-screen-BL
                        background: linear-gradient(45deg, $cl-carousel-dark, $cl-carousel-light $carousel-fadeout)
                    div.carousel-screen-BR
                        background: linear-gradient(-45deg, $cl-carousel-dark, $cl-carousel-light $carousel-fadeout)
                    div.carousel-caption
                        font-family: $font-maru
                        font-size: 110%
                        max-width: 40%
                        color: $cl-soft-text-on-dark
                        h1,h2,h3
                            color: $cl-main-text-on-dark
                        a
                            color: inherit
                            text-decoration: underline
                        a:hover
                            opacity: 0.8
                        blockquote
                            margin: 0.5em
                            padding: 0.5em
                            font-style: italic
                    div.carousel-caption-BL, div.carousel-caption-TL
                        left: 3%
                        text-align: left
                    div.carousel-caption-BR, div.carousel-caption-TR
                        left: auto
                        right: 3%
                        text-align: right
