@charset "UTF-8"
// bootstrap
@import variables
@import mixins
@import carousel
// original
@import pane-layout
@import header-pane
@import footer-pane
@import home
//@import contents-pane
//@import side-bar
//@import about


/*
 * Common themes like color and font.
 */

body#plain-podcast-body
    font-family: "Meiryo", "ヒラギノ角ゴ Pro W3", sans-serif
    background-color: #fff
    //background-image: url("bodybackground.png")
    background-repeat: repeat 

a
    text-decoration: none
