{% extends "podcast/wide/article_list.html" %}

{% block page-title %}
<title>{{ podcast.name }} - BLOG</title>
{% endblock %}

{% block blog_active %}active{% endblock %}

{% block article_url %}{% url 'podcast:blog' article.id %}{% endblock %}
{% block article_url_fb %}{% url 'podcast:blog' article.id %}{% endblock %}
{% block article_url_tw %}{% url 'podcast:blog' article.id %}{% endblock %}
{% block article_url_nav %}{% url 'podcast:blog' article.id %}{% endblock %}

{% block author_url %}
  {% url 'podcast:blog_by_author' author.id %}
{% endblock %}
