{% extends "podcast/base.html" %}

{% block page-title %}
<title>{{ podcast.name }}</title>
{% endblock %}

{% block about_active %}active{% endblock %}

{% block contents %}
{% load static %}
{% for presenter in presenters %}
<div class="presenter-profile content-box">
  <h2><a>{{ presenter.name }}</a></h2>
  <div class="presenter-profile-description
   presenter-{% if forloop.counter0|divisibleby:2 %}even{% else %}odd{% endif %}
   content-box-body">
    <div class="profile-image-box">
      <img class="profile-image" src="{% get_media_prefix %}{{ presenter.thumbnail_square }}" alt="">
    </div>
    <div class="profile-description-box">
      <div class="profile-description-internal">
        <p>
          {{ presenter.introduction|safe }}
        </p>
      </div>
      {% if presenter.twitter_id %}
      <footer class="profile-description-footer">
          <a href="https://twitter.com/{{ presenter.twitter_id }}" class="twitter-follow-button" data-show-count="false">Follow @{{ presenter.twitter_id }}</a>
      </footer>
      {% endif %}
    </div>
  </div>
  <span class="clear"></span>
</div>
{% endfor %}
{% endblock %}
