{% extends "podcast/base.html" %}

{% block page-title %}
<title>{{ podcast.name }} - {{ episode.title }}</title>
{% endblock %}

{% block contents %}
<div class="episode">
  <span class="date">
    {{ episode.pub_date.year }}年<br>
    {{ episode.pub_date.month }}月{{ episode.pub_date.day }}日に<br>
    コソコソ
  </span>
  <h2><a href="{% url 'podcast:episode' episode.slug %}">{{ episode.title }}</a></h2>
  <div class="audio-player">
    {% load static %}
    <audio controls>
      <source src="{% get_media_prefix %}{{ episode.audio_file }}" type="{{ episode.get_mime_type }}">
    </audio>
  </div>
  <div class="excerpt">
    <p>{{ episode.description|safe }}</p>
  </div>
  <div class="show-notes">
    <h3>関連リンクなどをメモメモ</h3>
    <p>{{ episode.show_notes|safe }}</p>
  </div>
</div>
{% endblock %}
