{% extends "podcast/base.html" %}

{% block page-title %}
<title>{{ podcast.name }}</title>
{% endblock %}

{% block contents %}

  {% for episode in episodes %}
    <div class="episode content-box">
      <span class="date">
        {{ episode.pub_date.year }}年<br>
        {{ episode.pub_date.month }}月{{ episode.pub_date.day }}日に<br>
        コソコソ
      </span>
      <h2><a href="{% url 'podcast:episode' episode.slug %}">{{ episode.title }}</a></h2>
      <div class="episode-description content-box-body">
        <div class="excerpt">
          <p>{{ episode.description|safe }}</p>
        </div>
      </div>
    </div>

    {% if forloop.counter0 == 0 %}
    <div id="embedded-twitter-timeline">
      <a class="twitter-timeline"  href="https://twitter.com/hashtag/{{ podcast.twitter_hashtag }}"  data-widget-id="{{ podcast.twitter_timeline_widget_id }}">#{{ podcast.twitter_hashtag }} Tweets</a>
      <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+"://platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>
    </div>
    {% endif %}

  {% endfor %}

{% endblock %}
