{% extends "podcast/base.html" %}

{% block page-title %}
<title>{{ podcast.name }}</title>
{% endblock %}

{% block index_active %}active{% endblock %}

{% block contents %}

  {% for episode in episodes %}
    <div class="episode content-box">
      <h2>
        <a href="{% block episode_url %}{% url 'podcast:episode' episode.slug %}{% endblock %}">{{ episode.title }}</a>
      </h2>
      <div class="episode-description content-box-body">
        <div class="excerpt">
          <p>{{ episode.description }}</p>
        </div>
        <p class="date">{{ episode.pub_date.date }}</p>
      </div>
    </div>
  {% endfor %}

{% endblock %}

{% block sidebar %}
<div id="embedded-twitter-timeline">
  <a class="twitter-timeline"  href="https://twitter.com/hashtag/{{ podcast.twitter_hashtag }}"  data-widget-id="{{ podcast.twitter_timeline_widget_id }}">#{{ podcast.twitter_hashtag }} Tweets</a>
</div>
{% endblock %}
