@charset "UTF-8";
/* Defines the pane structure.
 */
body {
  margin: 0;
  padding: 0; }

#contents {
  margin: 30px auto;
  max-width: 640px; }

#footer-site {
  margin-top: 30px; }

/* Defines the look and feel of the header pane.
 */
#header-site {
  background-color: black;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  color: #eeeeee; }
  #header-site #header-site-inner {
    max-width: 640px;
    margin: auto;
    padding: 40px 40px 70px;
    position: relative; }
  #header-site h1 {
    font-weight: 100;
    margin: auto;
    text-align: center; }
    #header-site h1 .title {
      letter-spacing: 0.5em;
      font-size: 150%; }
    #header-site h1 .tagline {
      display: block;
      font-size: small;
      margin-top: 10px;
      letter-spacing: 0.4em; }
    #header-site h1 a {
      color: inherit; }
  #header-site nav {
    position: absolute;
    bottom: 0;
    right: 0;
    padding-right: 40px;
    font-weight: bold; }
    #header-site nav ul {
      list-style: none outside none; }
    #header-site nav li {
      display: block;
      float: left;
      list-style: none; }
      #header-site nav li a {
        display: block;
        padding: 10px 20px;
        margin: 0 2px;
        width: 4em;
        color: inherit;
        text-align: center;
        font-size: 80%;
        background: rgba(50, 50, 50, 0.85); }
      #header-site nav li a:hover {
        background: rgba(255, 102, 178, 0.85);
        transition-duration: 0.4s; }

/* Defines the look and feel of the contents pane.
 */
#contents {
  padding: 20px; }
  #contents #embedded-twitter-timeline iframe {
    display: block;
    margin: 0 auto; }
  #contents .social-share {
    padding: 20px; }
  #contents .twitter-share {
    padding: 20px;
    background-color: black; }
  #contents .content-box {
    margin-top: 40px;
    margin-bottom: 15px;
    padding-bottom: 15px;
    background-color: floralwhite;
    position: relative;
    border: solid 1px white; }
    #contents .content-box h2 {
      background-color: white;
      line-height: 250%;
      margin: 0;
      font-size: 120%;
      letter-spacing: 0.2em;
      border-bottom: 1px solid #eeeeee; }
      #contents .content-box h2 a {
        display: block;
        padding: 0 10px 0 70px;
        color: #222222;
        transition-duration: 0.2s; }
      #contents .content-box h2 a:hover {
        background: rgba(255, 102, 178, 0.85);
        color: white;
        transition-duration: 0.2s; }
    #contents .content-box .audio-player {
      padding: 20px 20px 0; }
      #contents .content-box .audio-player audio {
        width: 100%; }
    #contents .content-box .date {
      top: -30px;
      left: -20px;
      min-height: 40px;
      min-width: 40px;
      text-align: center;
      display: block;
      position: absolute;
      background-color: #222222;
      color: white;
      text-align: center;
      font-size: 70%;
      border-radius: 50%;
      padding: 10px; }
    #contents .content-box .content-box-body {
      padding: 15px 40px;
      font-size: 90%;
      color: #555555;
      line-height: 170%; }
      #contents .content-box .content-box-body a {
        color: #222222; }
      #contents .content-box .content-box-body a:hover {
        text-decoration: underline; }
      #contents .content-box .content-box-body h3 {
        letter-spacing: 0.2em;
        border-bottom: solid 1px #cccccc; }
    #contents .content-box .episode-footer {
      margin-bottom: 10px;
      padding: 10px 25px; }
      #contents .content-box .episode-footer .episode-footer-inner {
        background-color: #eeeeee;
        padding: 10px 15px;
        min-height: 21px; }
        #contents .content-box .episode-footer .episode-footer-inner .episode-twitter-share-button {
          width: 90px;
          float: left; }
        #contents .content-box .episode-footer .episode-footer-inner .episode-fb-like-button {
          width: 20%;
          float: left;
          bottom: 5px; }

/* Defines the look and feel of the footer pane.
 */
#footer-site {
  background-color: black;
  color: white;
  font-size: 80%;
  padding: 20px; }
  #footer-site #footer-site-inner {
    max-width: 960px;
    margin: auto;
    color: #bbbbbb;
    letter-spacing: 0.1em;
    font-size: 90%; }
    #footer-site #footer-site-inner h2, #footer-site #footer-site-inner a {
      color: white; }
    #footer-site #footer-site-inner a:hover {
      text-decoration: underline; }
    #footer-site #footer-site-inner ul {
      list-style: none;
      padding-left: 0; }
  #footer-site .footer-site-box {
    box-sizing: border-box;
    width: 33%;
    float: left;
    padding: 20px; }
  #footer-site .copyright {
    clear: both;
    text-align: center;
    margin: 20px; }

.presenter-profile .profile-image-box {
  padding-top: 30px; }
.presenter-profile .profile-description-box {
  text-align: justify; }
.presenter-profile .presenter-even .profile-image-box {
  width: 30%;
  float: left; }
.presenter-profile .presenter-even .profile-description-box {
  width: 70%;
  float: left; }
  .presenter-profile .presenter-even .profile-description-box .profile-description-internal {
    padding-left: 30px; }
.presenter-profile .presenter-odd .profile-image-box {
  width: 30%;
  float: right; }
.presenter-profile .presenter-odd .profile-description-box {
  width: 70%;
  float: right; }
  .presenter-profile .presenter-odd .profile-description-box .profile-description-internal {
    padding-right: 30px; }
.presenter-profile img {
  border-radius: 50%;
  width: 150px;
  height: 150px;
  display: block;
  margin: auto; }
.presenter-profile .clear {
  clear: both;
  display: block; }

/* Common themes like color and font.
 */
body {
  font-family: "Meiryo", "ヒラギノ角ゴ Pro W3", sans-serif;
  background-image: url("bodybackground.png");
  background-repeat: repeat; }

a {
  text-decoration: none; }
