@charset "UTF-8";
/* Defines the pane structure.
 */
body {
  margin: 0;
  padding: 0; }

#middle-field {
  padding-top: 2em;
  position: relative; }
  #middle-field #contents {
    margin: 0 auto;
    max-width: 640px; }

#side-bar {
  margin: 0 auto;
  max-width: 640px; }
  #side-bar iframe {
    margin: 0 auto;
    display: block; }
  @media screen and (min-width: 1080px) {
    #side-bar {
      position: absolute;
      top: 2em;
      right: 2em; } }

#footer-site {
  margin-top: 30px; }

/* Defines the look and feel of the header pane.
 */
#header-site {
  background-color: inherit;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  color: #444444; }
  #header-site #header-site-inner {
    max-width: 640px;
    margin: auto;
    padding: 3em 2em 0; }
  #header-site h1 {
    font-weight: 100;
    margin: 0 auto 0.5em;
    text-align: center;
    margin-bottom: 0; }
    #header-site h1 .title {
      letter-spacing: 0.5em;
      font-size: 150%; }
    #header-site h1 a {
      color: inherit; }
    #header-site h1 img {
      max-width: 70%; }
      @media screen and (max-width: 480px) {
        #header-site h1 img {
          max-width: 100%; } }
  #header-site .header-subline .header-subline-clear {
    display: block;
    clear: both; }
  #header-site .header-subline .tagline {
    float: left;
    font-size: small;
    padding: 1em 1.5em;
    letter-spacing: 0.2em; }
    @media screen and (min-width: 640px) {
      #header-site .header-subline .tagline {
        box-sizing: border-box;
        width: 75%; } }
  #header-site .header-subline .header-social-links {
    box-sizing: border-box;
    float: right;
    padding-top: 1em; }
    @media screen and (min-width: 640px) {
      #header-site .header-subline .header-social-links {
        box-sizing: border-box;
        width: 25%; } }
    #header-site .header-subline .header-social-links .header-social-clear {
      display: block;
      clear: both; }
    #header-site .header-subline .header-social-links .header-social-links-inner {
      float: right;
      margin: 0 0.3em; }
      #header-site .header-subline .header-social-links .header-social-links-inner .fa {
        font-size: 2.5em; }
    #header-site .header-subline .header-social-links a {
      padding: 0;
      margin: 0;
      height: 4em;
      width: 4em;
      display: table-cell;
      vertical-align: middle;
      text-align: center;
      border-radius: 50%;
      background: #444444;
      color: white; }
    #header-site .header-subline .header-social-links .facebook a {
      background: #3b5998; }
    #header-site .header-subline .header-social-links .facebook a:hover {
      background: rgba(59, 89, 152, 0.6);
      transition-duration: 0.2s; }
    #header-site .header-subline .header-social-links .twitter a {
      background: #4099ff; }
    #header-site .header-subline .header-social-links .twitter a:hover {
      background: rgba(64, 153, 255, 0.6);
      transition-duration: 0.2s; }
  #header-site #header-navigation {
    font-size: 0.8em; }
    #header-site #header-navigation .fa {
      display: inline;
      margin-right: 0.5em; }
  #header-site nav {
    font-weight: bold;
    margin: 1.5em auto;
    text-align: center;
    width: 100%; }
    #header-site nav ul {
      list-style: none outside none;
      margin: 0 auto;
      padding: 0; }
    #header-site nav li {
      list-style: none;
      padding: 0;
      display: inline-block;
      width: 24%; }
      @media screen and (max-width: 480px) {
        #header-site nav li {
          width: 48%; } }
      #header-site nav li a {
        margin: 0.2em 0;
        padding: 0.3em 0em;
        color: inherit;
        text-align: center;
        font-size: 0.8em;
        background: rgba(220, 220, 220, 0.85);
        display: block; }
      #header-site nav li a:hover {
        background: rgba(255, 102, 102, 0.85);
        transition-duration: 0.4s; }
    #header-site nav .active a {
      background: rgba(255, 102, 102, 0.85); }

/* Defines the look and feel of the contents pane.
 */
#contents {
  padding: 0 2em 1em; }
  #contents .social-share {
    padding: 20px; }
  #contents .twitter-share {
    padding: 20px;
    background-color: black; }
  #contents .content-box {
    margin-top: 2em;
    margin-bottom: 15px;
    padding-bottom: 15px;
    background-color: rgba(255, 250, 240, 0);
    position: relative; }
    #contents .content-box h2 {
      color: #444444;
      margin: 0;
      font-size: 120%;
      letter-spacing: 0.1em;
      border-left: 4px solid rgba(255, 102, 102, 0.85); }
      #contents .content-box h2 a {
        color: inherit;
        display: block;
        padding: 0.5em 1.5em;
        transition-duration: 0.2s; }
      #contents .content-box h2 a:hover {
        background: rgba(255, 102, 102, 0.85);
        color: white;
        transition-duration: 0.2s; }
    #contents .content-box .audio-player {
      padding: 20px 25px 0; }
      #contents .content-box .audio-player audio {
        width: 100%; }
    #contents .content-box .content-box-body {
      padding: 0.5em 0;
      font-size: 90%;
      color: #888888;
      line-height: 170%; }
      #contents .content-box .content-box-body a {
        color: #222222; }
      #contents .content-box .content-box-body a:hover {
        text-decoration: underline; }
      #contents .content-box .content-box-body h3 {
        color: #444444;
        letter-spacing: 0.2em;
        border-bottom: solid 1px #cccccc; }
      #contents .content-box .content-box-body .date {
        margin: 0;
        padding-right: 2em;
        text-align: right;
        font-style: italic;
        font-size: 0.9em;
        font-weight: bold; }
    #contents .content-box .episode-footer {
      margin-bottom: 10px;
      padding: 10px 25px; }
      #contents .content-box .episode-footer .episode-footer-inner {
        background-color: #eeeeee;
        padding: 10px 15px;
        min-height: 21px; }
        #contents .content-box .episode-footer .episode-footer-inner .episode-twitter-share-button {
          box-sizing: border-box;
          width: 15%;
          float: left; }
        #contents .content-box .episode-footer .episode-footer-inner .episode-fb-like-button {
          box-sizing: border-box;
          width: 35%;
          float: left;
          bottom: 5px; }
        #contents .content-box .episode-footer .episode-footer-inner .episode-footer-clear {
          clear: left;
          display: block; }

/* Defines the look and feel of the side bar.
 */
@media screen and (min-width: 1080px) {
  #side-bar #embedded-twitter-timeline {
    width: 180px; } }

/* Defines the look and feel of the footer pane.
 */
#footer-site {
  background-color: black;
  color: white;
  font-size: 80%;
  padding: 1em; }
  #footer-site #footer-site-inner {
    max-width: 960px;
    margin: auto;
    color: #bbbbbb;
    letter-spacing: 0.1em;
    font-size: 90%; }
    #footer-site #footer-site-inner .fa {
      display: inline;
      margin-right: 0.5em; }
    #footer-site #footer-site-inner h2, #footer-site #footer-site-inner a {
      color: white; }
    #footer-site #footer-site-inner a:hover {
      text-decoration: underline; }
    #footer-site #footer-site-inner ul {
      list-style: none;
      padding-left: 0; }
  #footer-site .footer-site-box {
    margin: 0;
    padding: 1em 1.5em; }
    @media screen and (min-width: 640px) {
      #footer-site .footer-site-box {
        box-sizing: border-box;
        width: 33%;
        float: left; } }
  #footer-site .disclaimer {
    clear: both;
    text-align: center;
    margin: 1em; }
    #footer-site .disclaimer .credit {
      text-align: right;
      font-size: 0.8em;
      margin-top: 0.2em; }
      #footer-site .disclaimer .credit i {
        font-style: italic; }

.presenter-profile h2 a {
  cursor: default; }
.presenter-profile .profile-image-box {
  padding-top: 30px; }
.presenter-profile .profile-description-box .demo-left {
  text-align: left; }
.presenter-profile .profile-description-box .demo-center {
  text-align: center; }
.presenter-profile .profile-description-box .demo-right {
  text-align: right; }
.presenter-profile .profile-description-box .profile-description-footer {
  margin: 0.5em 0; }
@media screen and (min-width: 640px) {
  .presenter-profile .presenter-even .profile-image-box {
    box-sizing: border-box;
    width: 30%;
    float: left; } }
@media screen and (min-width: 640px) {
  .presenter-profile .presenter-even .profile-description-box {
    box-sizing: border-box;
    width: 70%;
    float: left; }
    .presenter-profile .presenter-even .profile-description-box .profile-description-internal, .presenter-profile .presenter-even .profile-description-box .profile-description-footer {
      padding-left: 30px; } }
@media screen and (min-width: 640px) {
  .presenter-profile .presenter-odd .profile-image-box {
    box-sizing: border-box;
    width: 30%;
    float: right; } }
@media screen and (min-width: 640px) {
  .presenter-profile .presenter-odd .profile-description-box {
    box-sizing: border-box;
    width: 70%;
    float: right; }
    .presenter-profile .presenter-odd .profile-description-box .profile-description-internal, .presenter-profile .presenter-odd .profile-description-box .profile-description-footer {
      padding-right: 30px; } }
.presenter-profile img {
  border-radius: 50%;
  width: 150px;
  height: 150px;
  display: block;
  margin: auto; }
.presenter-profile .clear {
  clear: both;
  display: block; }

/* Common themes like color and font.
 */
body {
  font-family: "Meiryo", "ヒラギノ角ゴ Pro W3", sans-serif;
  background-color: white;
  background-repeat: repeat; }

a {
  text-decoration: none; }
